<!--<app-header-content [title]="'Formulaire'"></app-header-content>
<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- /.card
      </div>
    </div>
  </div>
</section>-->

<div class="card my-5">
  <div class="card-body">
    <h3 style="text-align:center"><strong>Liste des programmes</strong></h3>

    <br>
    <a href="manageProgramme">
      <button id="btn" type="button"  class="btn-success btn-lg">ajouter</button>
    </a>
    <br>
    <br>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-dark">
      <tr>

        <th scope="col">orientation</th>
        <th scope="col">libelle</th>
        <th scope="col">description</th>
        <th scope="col">dureeRealisation</th>
        <th scope="col">budget</th>
        <th scope="col">resultat</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let programme of programmes">

        <td>{{ programme.orientation.numOrientation}}</td>
        <td>{{ programme.libelle}}</td>
        <td>{{programme.description}}</td>
        <td>{{programme.dureeRealisation  }}</td>
        <td>{{programme.budget}}</td>
        <td>{{programme.resultat}}</td>
        <td><li class="list-inline-item">
          <button class="btn-danger" (click)="deletProgramme(programme)"><i class="far fa-trash-alt"></i></button>
          &nbsp;
          <!--<a href="updateProgramme/{{programme.numProgramme}}" class="btn-outline-warning">Modifier</a>-->
          <a href="updateProgramme/{{programme.numProgramme}}">
            <button type="button"  class="btn-primary"><i class="far fa-edit"></i></button>
          </a>
        </li></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

