<!--<app-header-content [title]="'Formulaire'"></app-header-content>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>-->
<div class="card">

    <div class="card-header">

        <div class="card my-5">
            <div class="card-body">
              <h1 style="text-align:center ; color: darkgray" >Compagne</h1>
              <br>
              <br>
                <form  class="row g-3" (ngSubmit)="onSubmitCompagne()" >
                  <div class="col-md-6">
                        <label for="annee">Annee </label>

                        <input type="text" [(ngModel)]="compagne.annee"
                               class="form-control"
                               id="annee"
                               name="annee"
                               placeholder="annee">

                  </div>
                <br>
                  <div class="col-md-6">
                    <label for="statut">Statut</label>

                    <input type="text" [(ngModel)]="compagne.statut"
                           class="form-control"
                           id="statut"
                           name="statut"
                           placeholder="statut">
                  </div>
                    <div class="col-md-6">
                        <label for="debutComp">Date début de la compagne </label>

                        <input type="Date" [(ngModel)]="compagne.debutComp"
                               class="form-control"
                               id="debutComp"
                               name="debutComp"
                               placeholder="Date début">
                        <!--<textarea  [(ngModel)]="orientation.description"
                          id="description" name="description"
                                  rows="5" cols="33">
                        </textarea>-->
                    </div>

                  <div class="col-md-6">
                        <label for="finComp">Date fin de la compagne </label>

                        <input type="Date" [(ngModel)]="compagne.finComp"
                               class="form-control"
                               id="finComp"
                               name="finComp"
                               placeholder="Date fin">
                    </div>

                  <div class="col-12">
                        <label for="remarque">Remarque</label>
                   <!-- <div class="col-sm-10">-->
                        <textarea type="text" [(ngModel)]="compagne.remarque"
                               class="form-control"
                               id="remarque"
                               name="remarque"
                                  placeholder="remarque"></textarea>
                    </div>



                  <div class="col-12">
                    <label for="file">Choisir un fichier</label><br /> <input type="file" id="file" (change)="uploadFiles($event.target.files)">
                  </div>




               <div class="col-12" style="text-align: right">
              <button id="btn"  class="col-12" type="submit" class="btn btn-primary " >Enregistrer</button></div>
                </form>
            </div>
        </div>
    </div>
</div>

